body{
	width: 98vw;
}

/* IFRAMES */

.frameContainer{
	width: 98vw;
	height: auto;
	margin-left: -2.75em;
	overflow-y: hidden;
}

.frame{
	border: none;
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
}

/* SUBMIT BUTTONS */

#buttonWrapper{
	width: 100vw;
	max-width: 100%;
	margin-top: 2em;
}
  
#buttonContainer{
	width: 25%;
	margin: 0px 37.5% 0px calc(37.5% - 30px);
	display: flex;
	flex-direction: row;
	column-gap: 1.5em;
}
  
#saveProgress, #complete{
	margin: 0;
	width: 8.25em !important;
	font-size: 0.8em !important;
}
  
@media screen and (max-width: 800px){
	#buttonContainer{
	  flex-direction: column;
	  row-gap: 1.25em;
	}
}