body{
	width: 98vw;
}

/* NAV */

#nav {
	position: fixed;
	top: 0;
	right: 0;
	padding: 1em;
	margin: 0.5em;
	background: #ddd;
	border: 0.1em solid #2d2d2d;
	border-radius: 0.25em;
	width: 20em;
}

#navTop {
	width: 100%;
	height: 4em;
	vertical-align: center;
}

#navTitle {
	display: block;
	float: left;
	padding-left: 2em;
}

#navButton {
	display: block;
	float: right;
	width: 5em;
	margin-top: 0.9em;
	padding: 0.4em 1em;
	background: #108800;
	color: #fff;
	border: none;
	border-radius: 1em;
}

#navButton:hover {
	cursor: pointer;
}

.navLink {
	text-decoration: none;
	color: #2d2d2d;
}

.navItem {
	list-style: none;
	padding-bottom: 0.75em;
	font-size: 1.2em;
}

.navItem:hover {
	color: #777;
}

#navCloseAll {
	background: #2d2d2d;
	color: #eee;
	border: none;
	border-radius: 0.25em;
	padding: 0.5em 2em;
	margin-top: 1em;
	margin-left: 1em;
	font-size: 1.05em;
}

#navCloseAll:hover {
	background: #000;
	cursor: pointer;
}

/* IFRAMES */

.frameContainer{
	width: 98vw;
	height: auto;
	margin-left: -2.75em;
	overflow-y: hidden;
}

.frame{
	border: none;
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
}

/* SUBMIT BUTTONS */

#buttonWrapper{
	width: 100vw;
	max-width: 100%;
	margin-top: 2em;
}
  
#buttonContainer{
	width: 25%;
	margin: 0px 37.5% 0px calc(37.5% - 30px);
	display: flex;
	flex-direction: row;
	column-gap: 1.5em;
}
  
#saveProgress, #complete{
	margin: 0;
	width: 8.25em !important;
	font-size: 0.8em !important;
}
  
@media screen and (max-width: 800px){
	#buttonContainer{
	  flex-direction: column;
	  row-gap: 1.25em;
	}
}